h1{
    color:cyan;
    border: solid;
    border-color:red ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header{
    background-color: purple;
    display: flex;
    justify-content: space-between;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
body{
    background-color: aqua;
}